<form class="input-defesas">
  <h2 class="titulo-secao">Status</h2>
  <div class="fileiras">
  <div class="alinhar-pv-ca">
    <label class="">PV máximos</label>
    <input
      type="text"
      class="input-pv-ca vt323"
      id="pv-max-input"
      name="pvMax"
      [(ngModel)]="statusJogador.vidaMax.atributo"
    />
  </div>

  <div class="alinhar-pv-ca">
    <label class="">PV atuais</label>
    <input
      type="text"
      class="input-pv-ca vt323"
      id="pv-atual-input"
      name="pvAtual"
      [(ngModel)]="statusJogador.vidaAtual.atributo"
    />
  </div>

    <div class="alinhar-pv-ca">
      <label class="">PV temporários</label>
      <input
        type="text"
        class="input-pv-ca vt323"
        id="pv-temporario-input"
        name="pvTemporario"
        [(ngModel)]="statusJogador.vidaTemporaria.atributo"
      />
    </div>
  </div>

  <div class="fileiras">
  <div class="alinhar-pv-ca">
    <label class="">Armadura</label>
    <input
      type="text"
      class="input-pv-ca vt323"
      id="ca-input"
      name="defesa"
      [(ngModel)]="statusJogador.ca.atributo"
    />
  </div>

    <div class="deslocamento alinhar-pv-ca">
      <label class="">Deslocamento</label>
      <input
        type="text"
        class="input-pv-ca vt323"
        id="deslocamento-input"
        name="deslocamento"
        [(ngModel)]="statusJogador.velocidade.atributo"
      />
    </div>
  </div>


</form>
