.input-defesas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alinhar-pv-ca {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: large;
  margin-bottom: 1rem;
}

.input-pv-ca {
  background-color: transparent;
  color: #ffffff;
  font-size: x-large;
  margin-top: 1rem;
  border: none;
  text-align: center;
  height: 4rem;
  width: 4rem;
}

#pv-max-input {
  background-image: url("../../assets/icon coracao.svg");
  background-size: 100%;
  background-repeat: no-repeat;

}

#pv-atual-input{
  background-image: url("../../assets/icon pv atual.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

#pv-temporario-input{
  background-image: url("../../assets/icon pv temporario.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

#ca-input{
  background-image: url("../../assets/shield.svg");
  background-size: 65rem;
  background-repeat: no-repeat;
}

#deslocamento-input{
  background-image: url("../../assets/deslocamento.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.fileiras{
  display: flex;
  width: 320px;
}

@media (min-width: 992px){

  .alinhar-pv-ca {
    max-width: 106px;
  }
  .input-defesas{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    margin-left: 3rem;
  }
  .titulo-secao{
    display: none;
  }
}
