
.alinhar-pv-ca {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  height: 10rem;
  font-size: large;
}

#pv-max-input {
  background-image: url("../../assets/icon coracao.svg");
  background-size: 100%;
  background-repeat: no-repeat;

}

#pv-atual-input{
  background-image: url("../../assets/icon pv atual.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

#pv-temporario-input{
  background-image: url("../../assets/icon pv temporario.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

#ca-input{
  background-image: url("../../assets/shield.svg");
  background-size: 80rem;
  background-repeat: no-repeat;
}

#deslocamento-input{
  background-image: url("../../assets/deslocamento.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.input-pv-ca {
  background-color: transparent;
  color: #ffffff;
  font-size: xx-large;
  margin-top: 1rem;
  border: none;
  text-align: center;
  height: 5rem;
  width: 5rem;
}

.input-defesas {
  display: flex;
  margin:auto;
}

.fileiras{
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px){

  .fileiras{
    align-self: center;
  }

  .deslocamento{
    align-self: center;
  }

  .input-defesas{
      align-self: center;
      display: flex;
      flex-direction: column;
  }

  .alinhar-pv-ca{
    height: 8rem;
  }
  .fonte-mobile{
    font-size: medium;
  }

  .acoes{
    width: 315px;
  }
}
