<form class="input-defesas">
  <div class="fileiras">
  <div class="alinhar-pv-ca">
    <label class="fonte-mobile">PV máximos</label>
    <input
      type="text"
      class="input-pv-ca vt323"
      id="pv-max-input"
      name="pvMax"
      [(ngModel)]="statusJogador.vidaMax.atributo"
    />
  </div>
  <div class="alinhar-pv-ca">
    <label class="fonte-mobile">PV atuais</label>
    <input
      type="text"
      class="input-pv-ca vt323"
      id="pv-atual-input"
      name="pvAtual"
      [(ngModel)]="statusJogador.vidaAtual.atributo"
    />
  </div>
  </div>
  <div class="fileiras">
  <div class="alinhar-pv-ca">
    <label class="fonte-mobile">Armadura</label>
    <input
      type="text"
      class="input-pv-ca vt323"
      id="ca-input"
      name="defesa"
      [(ngModel)]="statusJogador.ca.atributo"
    />
  </div>
  <div class="alinhar-pv-ca">
    <label class="fonte-mobile">PV temporários</label>
    <input
      type="text"
      class="input-pv-ca vt323"
      id="pv-temporario-input"
      name="pvTemporario"
      [(ngModel)]="statusJogador.vidaTemporaria.atributo"
    />
  </div>

  </div>

  <div class="deslocamento alinhar-pv-ca">
    <label class="fonte-mobile">Deslocamento</label>
    <input
      type="text"
      class="input-pv-ca vt323"
      id="deslocamento-input"
      name="deslocamento"
      [(ngModel)]="statusJogador.velocidade.atributo"
    />
  </div>
</form>
