.pericias{
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.texto-pericias{
  position: absolute;
  left: 8.5rem;
  background: transparent;
  border: none;
  font-size: larger;
}

.pericias-card{
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding: 1rem;
}

.teste-resistencia-card{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  width: 75%;
  padding: 1rem;
}

.caixa-selecao{
  background-color: #202124;
  border: none;
  margin-right: 0.5rem;
  font-size: larger;
}

.pericias-valor{
  font-size: larger;
}
