.pericias{
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.texto-pericias{
  background: transparent;
  border: none;
  font-size: larger;

}

.pericias-card{
  margin-left: auto;
  margin-right: auto;
  width: 375px;
  border-radius: 0;
  border-right: none;
  border-left: none;
}

hr{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.caixa-selecao{
  margin-left: 2rem;
  background-color: #262729;
  border: none;
  margin-right: 0.5rem;
  font-size: larger;
}

.pericias-valor{
  font-size: larger;
  width: 15px;
  margin-right: 2rem;
}

button:hover{
  cursor: pointer;
  color: red;
}


@media (min-width: 992px){
  .pericias-aba{
    margin-top: 0.5rem;
    margin-left: 2rem;
  }
  .pericias-card{
    width: 14rem;
    border-left: 1px solid #3C3E43;
    border-right: 1px solid #3C3E43;
    border-radius: 10px;
    padding: 1rem;
  }
  .pericias{
    margin-bottom: 0.3rem;
  }
  .texto-pericias{
    font-size: medium;
  }
  .cards-titulo{
    font-size: large;
  }
  .caixa-selecao{
    margin-left: 0;
    font-size: medium;
  }
  .pericias-valor{
    font-size: medium;
    font-weight: 500;
  }

}
