.inventario-card{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  padding: 1rem;
}

.titulo-inventario{
  display: none;
}

@media (min-width: 992px){
  .inventario-card{
    width: 30rem;
    min-height: 10rem;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
  }
  .titulo-secao{
    display: none;
  }
  .titulo-inventario{
    display: block;
    text-align: center;
  }
}
