<section class="alterar-atributo">
  <form>
    <label for="forca">Força</label>
    <input type="text" class="inputAtributo" id="forcaInput" name="forca">
    <label for="destreza">Destreza</label>
    <input type="text" class="inputAtributo" id="destrezaInput" name="destreza">
    <label for="constituicao"></label>
    <input type="text" class="inputAtributo" id="constituicaoInput" name="constituicao">
    <label for="inteligencia"></label>
    <input type="text" class="inputAtributo" id="inteligenciaInput" name="inteligencia">
    <label for="sabedoria"></label>
    <input type="text" class="inputAtributo" id="sabedoriaInput" name="sabedoria">
    <label for="carisma"></label>
    <input type="text" class="inputAtributo" id="carismaInput" name="carisma">
  </form>
</section>
