<h3 class="habilidades-classe">Habilidades de classe</h3>
<h3 class="habilidades-classe">Empatia Selvagem</h3>
<h3>Druida - Nivel 1</h3>
<p>
  Você pode se comunicar com animais por meio de linguagem corporal e
  vocalizações. Você pode usar Adestramento com animais para mudar atitude e
  pedir favores (veja Diplomacia, na página 117).
</p>
<hr />
<h3>Magias de druida</h3>
<h3 class="habilidades-classe">1º Circulo</h3>
<h3 class="habilidades-classe">Armamento da natureza</h3>
<h3>Tempo de conjuração: Padrão</h3>
<h3>Alcance: Toque</h3>
<h3>Alvo: 1 arma</h3>
<h3 class="espaco-descricao">Duração: Cena</h3>
<p>
  Você fortalece uma arma mundana primitiva (sem custo em T$, como bordão,
  clava, funda ou tacape), uma arma natural ou um ataque desarmado. O dano da
  arma aumenta em um passo e ela é considerada mágica para propósitos de
  resistência a dano. Ao lançar a magia, você pode mudar o tipo de dano da arma
  (escolhendo entre corte, impacto ou perfuração).
  <br />
  +1 PM: fornece +1 nos testes de ataque com a arma.
  <br />
  +2 PM: muda a execução para ação de movimento.
  <br />
  +3 PM: aumenta o bônus nos testes de ataque em +1.
  <br />
  +5 PM: aumenta o dano da arma em mais um passo.
</p>
<hr />
<h3>Infligir ferimentos</h3>
<h3>Tempo de conjuração: Padrão</h3>
<h3>Alcance: Toque</h3>
<h3>Alvo: 1 criatura</h3>
<h3>Duração: Instantaneo</h3>
<h3 class="espaco-descricao">Resistência: Fortitude reduz a metade</h3>
<p>
  Você canaliza energia negativa contra um alvo, causando 2d8+2 pontos de dano
  de trevas (ou curando 2d8+2 PV, se for um morto-vivo). Infligir Ferimentos
  anula Curar Ferimentos.
  <br />
  +1 PM: além do normal, se falhar na resistência, o alvo fica fraco pela cena.
  <br />
  +2 PM: aumenta o dano em 1d8 + 1.
  <br />
  +2 PM: como parte da execução da magia, você pode fazer um ataque corpo a
  corpo contra o alvo. Se acertar, causa o dano do ataque e o efeito da magia.
  <br />
  +5 PM: muda o alcance para curto e o alvo para criaturas escolhidas
</p>
