.acoes-card{
  margin: auto;
  padding: 1rem;
}

.titulos-acoes{
  text-align: center;
}
:host ::ng-deep .linha-ataque{
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-around;
}
:host ::ng-deep .ataque{
  width: 6rem;
  height: 1.5rem;
  font-size: medium;
  text-align: left;
  padding-left: 0.5rem;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
:host ::ng-deep .bonus{
  width: 2rem;
  height: 1.5rem;
  font-size: medium;
  text-align: center;
  box-sizing: border-box;
}
:host ::ng-deep .dano{
  width: 6rem;
  height: 1.5rem;
  font-size: medium;
  text-align: left;
  padding-left: 0.5rem;
  box-sizing: border-box;
}

:host ::ng-deep .qntd{
  width: 2rem;
  height: 1.5rem;
  text-align: center;
  font-size: medium;
  box-sizing: border-box;
  vertical-align: middle;
}

:host ::ng-deep .borda-4px-ataques{
  background-color: #363943;
  border: 1px solid #363943;
  border-radius: 4px;
}

.botao-expandir{
  background-color: #363943;
  width: 1.5rem;
  height: 1.5rem;
  font-size: larger;
}

.expandir{
  background: transparent;
}

.campos{
  margin-bottom: 0.5rem;
}

.expandir-header{
  padding-left: 0.5rem;
  background: transparent;
  height: 2rem;
  width: 2rem;
}

.botao-adicionar{
  padding: 0.5rem;
}

@media(min-width: 992px){

  .acoes-aba{
    width: 40rem;
  }
  .titulo-secao{
    display: none;
  }
  .acoes-card{
    min-height: 10rem;
    width: 30rem;
    margin-left: 1.5rem;
  }
  :host ::ng-deep .ataque{
    width: 13rem;
  }
  :host ::ng-deep .bonus{
  }
  :host ::ng-deep .dano{
    width: 10rem;
  }

  #input-ataque,
  #input-dano,
  #input-tipo{
    padding: 0.5rem;
  }

  #input-dano{
    margin-bottom: 0.5rem;
  }

  .botao-expandir{
    margin-top: 0.5rem;
  }
  button:hover{
    color: red;
    cursor: pointer;
  }
}
