
.ataque-card{
  background-color: #202124;
  width: 25rem;
  min-height: 15rem;
  max-height: 80rem;
  margin-left: 2.5rem;
}

.alinhar-nomes-ataque{
  display: flex;
  margin-bottom: 0.5rem;

}

.nome-ataque{
  margin-left: 1.5rem;
  margin-right: 9.5rem;
  font-weight: 500;
}

.qntd-bonus{
  margin-right: 2.5rem;
  font-weight: 500;
}

.qntd-dano{
  font-weight: 500;
}

.bg-transparente{
  background-color: transparent;
}

:host ::ng-deep .ataque{
  width: 10rem;
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  padding-left: 0.5rem;
  text-align: left;
  color:#ffffff;
}

:host ::ng-deep .bonus{
  width: 3rem;
  height: 1.5rem;
  margin-right: 1rem;
  color:#ffffff;
}

:host ::ng-deep .dano{
  width: 8rem;
  text-align: left;
  padding-left: 0.5rem;
  height: 1.5rem;
  color:#ffffff;

}

:host ::ng-deep .borda-4px-ataques{
  background-color: #363943;
  border: 1px solid #363943;
  border-radius: 4px;
}

.adicionar{
  margin-top: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

:host ::ng-deep .ataques-div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.alinhar-ataque{
  display: flex;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.grau{
  margin-left: 1rem;
  margin-right: 0.5rem;
}
.quantidade{
  margin-left: 1rem;
  margin-right: 0.5rem;
  width: 1.5rem;
  border-radius: 0;
  text-align: center;
  padding-top: 0.5rem;
}

.tipo-dano{
  text-align: left;
  padding-top: 0.5rem;
  font-size: small;
}

.selecao-dado{
  background-color: #202124;
  border: none;
  font-size: 1rem;
  text-align: center;
  height: 1rem;
  margin-top: 0.5rem;
}

:host ::ng-deep button:hover{
  cursor: pointer;
  color: #e50914;
}

.nome-ataque-dano{
  padding-top: 0.5rem;
}

.botao-adicionar{
  background: transparent;
  padding: 0.5rem;
  margin-left: 1rem;
}

@media (max-width: 768px){
  .ataque-card{
    width: 310px;
    position: relative;
    right: 3.5rem;
  }

  .nome-ataque{
    margin-right: 5.5rem;
  }

  :host ::ng-deep .ataque{
    width: 6rem;
  }

  :host ::ng-deep .ataques-div{
    position: relative;
    right: 0.5rem;
  }

  :host ::ng-deep .dano{
    width: 6rem;
  }

  .painel{
    position: relative;
    right: 1.5rem;
  }

  .adicionar{
    position: relative;
    left: 1.5rem;
  }

  .grau{
    position: relative;
    right: 1rem;
  }
  .selecao-dado{
    position: relative;
    right: 1rem;
  }
}
