<header class="cabecalho ff-inter">
  <form>
    <label for="nomePersonagem" class="alinharNome" id="nome-personagem"
      >Nome:</label
    >
    <input
      type="text"
      id="nomePersonagemInput"
      class="dadosInput alinharNome"
      name="nomePersonagem"
      placeholder="Insira nome do personagem"
    />
  </form>
  <section>
    <form class="dados">
      <label for="raca" class="raca">Raça: </label>
      <input
        type="text"
        id="racaInput"
        class="dadosInput"
        name="raca"
        [(ngModel)]="raca.atributo"
        placeholder="Insira sua raça"
      />
      <label for="classe" class="classe">Classe:</label>
      <input
        type="text"
        id="classeInput"
        class="dadosInput"
        name="classe"
        [(ngModel)]="classe.atributo"
        placeholder="Insira sua classe"
      />
      <label for="origem" class="origem">Origem:</label>
      <input
        type="text"
        id="origemInput"
        class="dadosInput"
        name="origem"
        [(ngModel)]="origem.atributo"
        placeholder="Insira sua origem"
      />
      <label for="nivel" class="nivel">Nivel:</label>
      <input
        type="number"
        id="nivelInput"
        class="dadosInput"
        name="nivel"
        [(ngModel)]="nivel.atributo"
        placeholder="Insira seu nivel"
      />
    </form>
  </section>
</header>
