.proficiencia-card{
  margin: 2rem auto;
  height: 19rem;
  overflow-y: scroll;
}
.expandir-header{
  background: transparent;
  padding-left: 0.7rem;
  width: 2rem;
}
.expandir{
  background: transparent;
}
:host ::ng-deep .borda-4px-proficiencia{
  background-color: #3C3E43;
  border: 1px solid #3C3E43;
  border-radius: 4px;
}
:host ::ng-deep .input{
  height: 1rem;
  width: 7rem;
  text-align: center;
  font-size: medium;
  padding: 4px;
}
.background-input-botao{
  padding: 0.5rem;
}
.botao-adicionar{
  padding: 0.5rem;
}
.campos{
  margin-bottom: 1rem;
}
.campo-span{
  padding: 0.5rem;
}
.botao-expandir{
  width: 1.5rem;
  height: 1.5rem;
  font-size: large;
}

:host ::ng-deep .linha-proficiencia{
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
:host ::ng-deep .nome-proficiencia{
  width: 6rem;
  padding: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
:host ::ng-deep .atributo-proficiencia{
  width: 2rem;
  text-align: center;
}
:host ::ng-deep .tipo-proficiencia{
  width: 5rem;
  padding: 0.5rem;
}

@media(min-width: 992px){
  .proficiencia-card{
    margin-left: 1rem;
  }
}
