<form>
  <div class="card-info container">
    <label>Nome do personagem: </label>
    <input
      name="nomePersonagem"
      type="text"
      value="nome"
      class="input-info espacamento-info-direita ff-inter"
      [(ngModel)]="AtributosService.personagem.nome.id"
    />

    <label>Raça: </label>
    <input
      name="racaPersonagem"
      type="text"
      value="raca"
      class="input-info espacamento-info-direita ff-inter"
      [(ngModel)]="AtributosService.personagem.raca.id"
    />

    <label>Classe: </label>
    <input
      name="classePersonagem"
      type="text"
      value="classe"
      class="input-info espacamento-info-direita ff-inter"
      [(ngModel)]="AtributosService.personagem.classe.id"
    />

    <label>Nivel: </label>
    <input
      name="nivelPersonagem"
      type="number"
      value="nivel"
      class="input-nivel espacamento-info-direita ff-inter"
      [(ngModel)]="AtributosService.personagem.nivel.atributo"
      (change)="AtributosService.atualizar()"
    />

    <label>Exp: </label>
    <input
      name="expPersonagem"
      type="number"
      value="exp"
      class="input-exp espacamento-info-direita ff-inter"
      [(ngModel)]="AtributosService.personagem.exp.atributo"
    />
  </div>
</form>
