<form>
  <div class="">
    <div class="">
    <label>Nome: </label>
    <input
      name="nomePersonagem"
      type="text"
      class="vt323"
      [(ngModel)]="AtributosService.personagem.nome.id"
    />
    </div>

    <div class="">
    <label>Raça: </label>
    <input
      name="racaPersonagem"
      type="text"
      class="vt323"
      [(ngModel)]="AtributosService.personagem.raca.id"
    />
    </div>
    <div class="">
    <label>Classe: </label>
    <input
      name="classePersonagem"
      type="text"
      class="vt323"
      [(ngModel)]="AtributosService.personagem.classe.id"
    />
    </div>
    <div class="">
    <label>Nivel: </label>
    <input
      name="nivelPersonagem"
      type="number"
      class="vt323"
      [(ngModel)]="AtributosService.personagem.nivel.atributo"
      (change)="AtributosService.atualizar()"
    />
    </div>
    <div class="">
    <label>Exp: </label>
    <input
      name="expPersonagem"
      type="number"
      class="vt323"
      [(ngModel)]="AtributosService.personagem.exp.atributo"
    />
  </div>
  </div>
</form>
