
.abas-mobile{
  display: none;
}

.info{
  display: none;
}

.status{
  order: 1;
}

.atributos{
  order: 2;
}

.pericias{
  order: 3;
}

.alinhar-acoes-inventario-desktop{
  order: 4;
}

@media (min-width: 992px){
  .alinhar-desktop{
    display: flex;
  }
  .atributos{
    order: 1;
  }

  .info{
    display: unset;
  }

  .pericias{
    order: 2;
  }

  .alinhar-status-acoes{
    order: 3;
  }
  .acoes{
    width: 38rem;
  }
  .inventario{
    width: 38rem;
  }

}
