<section class="section vt323">
  <div class="">
    <app-info-personagem class="info"></app-info-personagem>
  <div class="alinhar-desktop">
    <app-status-jogador class="status"></app-status-jogador>
    <div class="alinhar-info-atributos">
    <app-atributos class="atributos"></app-atributos>
    </div>
    <app-pericias class="pericias"></app-pericias>
  </div>
    <div class="alinhar-acoes-inventario-desktop">
    <app-acoes class="acoes"></app-acoes>
    <app-inventario class="inventario"></app-inventario>
    </div>

  </div>

</section>

