<section class="section vt323">
  <div class="info-margin-left">
    <app-info-personagem class="info"></app-info-personagem>
  <div class="alinhar-desktop">
    <div class="alinhar-status-acoes">
    <app-status-jogador class="status"></app-status-jogador>
    <div class="alinhar-acoes-inventario-desktop">
      <app-acoes class="acoes"></app-acoes>
      <app-inventario class="inventario"></app-inventario>
    </div>
    </div>
    <div class="alinhar-info-atributos">
    <app-atributos class="atributos"></app-atributos>
      <app-proficiencias class="proficiencias"></app-proficiencias>
    </div>
    <app-pericias class="pericias"></app-pericias>
  </div>

  </div>

</section>

