<section class="alinhar-cards-flex">
  <div class="cards">
    <h3>Atributos</h3>
    <form class="alinhar-atributos">
      <label for="forca" class="atributos alinhar-atributos">Força</label>
      <input
        type="text"
        class="inputAtributo alinhar-atributos"
        id="forcaInput"
        name="forca"
        [(ngModel)]="forca.atributo"
      />
      <h3 class="valorAtributo">
        {{ forca.atributo }} ({{ forca.modificadorForca }})
      </h3>
      <label for="destreza" class="atributos alinhar-atributos">Destreza</label>
      <input
        type="number"
        class="inputAtributo alinhar-atributos"
        id="destrezaInput"
        name="destreza"
        [(ngModel)]="destreza.atributo"
      />
      <h3 class="valorAtributo">
        {{ destreza.atributo }} ({{ destreza.modificadorDestreza }})
      </h3>
      <label for="constituicao" class="atributos alinhar-atributos"
        >Constituição</label
      >
      <input
        type="number"
        class="inputAtributo alinhar-atributos"
        id="constituicaoInput"
        name="constituicao"
        [(ngModel)]="constituicao.atributo"
      />
      <h3 class="valorAtributo">
        {{ constituicao.atributo }} ({{ constituicao.modificadorConstituicao }})
      </h3>
      <label for="inteligencia" class="atributos alinhar-atributos"
        >Inteligência</label
      >
      <input
        type="number"
        class="inputAtributo alinhar-atributos"
        id="inteligenciaInput"
        name="inteligencia"
        [(ngModel)]="inteligencia.atributo"
      />
      <h3 class="valorAtributo">
        {{ inteligencia.atributo }} ({{ inteligencia.modificadorInteligencia }})
      </h3>
      <label for="sabedoria" class="atributos alinhar-atributos"
        >Sabedoria</label
      >
      <input
        type="number"
        class="inputAtributo alinhar-atributos"
        id="sabedoriaInput"
        name="sabedoria"
        [(ngModel)]="sabedoria.atributo"
      />
      <h3 class="valorAtributo">
        {{ sabedoria.atributo }} ({{ sabedoria.modificadorSabedoria }})
      </h3>
      <label for="carisma" class="atributos alinhar-atributos">Carisma</label>
      <input
        type="number"
        class="inputAtributo alinhar-atributos"
        id="carismaInput"
        name="carisma"
        [(ngModel)]="carisma.atributo"
      />
      <h3 class="valorAtributo">
        {{ carisma.atributo }} ({{ carisma.modificadorCarisma }})
      </h3>
    </form>
    <button (click)="atualizarAtributos()" class="botao">Atualizar</button>
  </div>

  <div class="cards">
    <h3>Pontos de vida e mana</h3>
    <form class="pv-pm">
      <label for="pvMax" class="atributos alinhar-pv-max">Pontos de vida máximos:</label>
      <input
        type="number"
        class="input-pv-pm alinhar-pv-max inputAtributo"
        id="pvMaxInput"
        name="pvMax"
        placeholder="10"
      />
      <label for="pvAtual" class="atributos alinhar-pv-atual">PV atuais:</label>
      <input
        type="number"
        class="input-pv-pm alinhar-pv-atual inputAtributo"
        id="pvAtual"
        name="pvAtual"
        placeholder="10"
      />
      <label for="pmMax" class="atributos alinhar-pm-max">Pontos de mana máximos:</label>
      <input
        type="number"
        class="input-pv-pm inputAtributo alinhar-pm-max"
        id="pmMax"
        name="pmMax"
        placeholder="10"
      />
      <label for="pmAtual" class="atributos alinhar-pm-atual">PM Atuais:</label>
      <input
        type="number"
        class="input-pv-pm inputAtributo alinhar-pm-atual"
        id="pmAtual"
        name="pmAtual"
        placeholder="10"
      />
      <label for="defesa" class="atributos alinhar-defesa">Defesa:</label>
      <input
        tyoe="number"
        class="input-pv-pm inputAtributo alinhar-defesa"
        id="defesa"
        name="defesa"
        placeholder="10"
      />
    </form>
  </div>
  <div class="cards">
    <h3>Pericias de ataque e defesa</h3>
    <h4 class="atributos">Luta (For):</h4>
    <h4 class="atributosValor">{{ luta.atributo }}</h4>
    <h4 class="atributos">Fortitude (Con):</h4>
    <h4 class="atributosValor">{{ fortitude.atributo }}</h4>
    <h4 class="atributos">Pontaria (Des):</h4>
    <h4 class="atributosValor">{{ pontaria.atributo }}</h4>
    <h4 class="atributos">Reflexos (Des):</h4>
    <h4 class="atributosValor">{{ reflexos.atributo }}</h4>
    <h4 class="atributos">Vontade (Sab):</h4>
    <h4 class="atributosValor">{{ vontade.atributo }}</h4>
  </div>
  <div class="cards-proficiencia">
    <h3>Pericias</h3>
    <h3>Atributo chave + metade do nivel + Bonus de treinamento (+2)</h3>
    <h4 class="atributos">Acrobacia (Des):</h4>
    <h4 class="atributosValor">{{ acrobacia.atributo }}</h4>
    <h4 class="atributos">Adestramento (Car):</h4>
    <h4 class="atributosValor">{{ adestramento.atributo }}</h4>
    <h4 class="atributos">Atletismo (For):</h4>
    <h4 class="atributosValor">{{ atletismo.atributo }}</h4>
    <h4 class="atributos">Atuação (Car):</h4>
    <h4 class="atributosValor">{{ atuacao.atributo }}</h4>
    <h4 class="atributos">Cavalgar (Des):</h4>
    <h4 class="atributosValor">{{ cavalgar.atributo }}</h4>
    <h4 class="atributos">Conhecimento (Int):</h4>
    <h4 class="atributosValor">{{ conhecimento.atributo }}</h4>
    <h4 class="atributos">Cura (Sab):</h4>
    <h4 class="atributosValor">{{ cura.atributo }}</h4>
    <h4 class="atributos">Diplomacia (Car):</h4>
    <h4 class="atributosValor">{{ diplomacia.atributo }}</h4>
    <h4 class="atributos">Enganação (Car):</h4>
    <h4 class="atributosValor">{{ enganacao.atributo }}</h4>
    <h4 class="atributos">Furtividade (Des):</h4>
    <h4 class="atributosValor">{{ furtividade.atributo }}</h4>
    <h4 class="atributos">Guerra (Int):</h4>
    <h4 class="atributosValor">{{ guerra.atributo }}</h4>
    <h4 class="atributos">Iniciativa (Des):</h4>
    <h4 class="atributosValor">{{ iniciativa.atributo }}</h4>
    <h4 class="atributos">Intimidação (Car):</h4>
    <h4 class="atributosValor">{{ intimidacao.atributo }}</h4>
    <h4 class="atributos">Intuição (Sab):</h4>
    <h4 class="atributosValor">{{ intuicao.atributo }}</h4>
    <h4 class="atributos">Investigação (Int):</h4>
    <h4 class="atributosValor">{{ investigacao.atributo }}</h4>
    <h4 class="atributos">Percepção (Sab):</h4>
    <h4 class="atributosValor">{{ percepcao.atributo }}</h4>
    <h4 class="atributos">Sobrevivência (Sab):</h4>
    <h4 class="atributosValor">{{ sobrevivencia.atributo }}</h4>
  </div>
</section>
<div class="alinhar-cards-flex alinhar-cards-coluna">
  <div class="inventario-card alinhar-cards-coluna">
    <h2>Inventario</h2>
    <ul>
      <li>Mochila</li>
      <li>Saco de dormir</li>
      <li>Traje de viajante</li>
      <li>Tridente</li>
      <li>Armadura de couro</li>
      <li>Escudo leve</li>
    </ul>
    <hr />
    <h2>Dinheiro</h2>
    <h2>16 Tibar</h2>
  </div>
  <div class="historia-card">
    <h3>Historia</h3>
    <p>
      Nilo era um taverneiro que mantinha seus negocios acontecendo a bordo de
      um grande navio, até que um dia sua embarcação foi invadida e destruida
      por piratas. Perto da morte ele jurou lealdade ao deus das águas, Oceano,
      em troca de afundar o navio dos piratas. Tendo suas preces atendidas Nilo
      adquiriu poderes druidicos e se vingou de seus agressores. Com seu
      objetivo concluido, tudo que lhe restou foi seguir as condutas que seu
      deus lhe dava de proteger aqueles que cruzassem o mar, até que ele
      conheceu um grupo de aventureiros no caminho.
    </p>
  </div>
</div>
