<section class="ff-inter">
  <div class="alinhar-info">
    <form>
      <div class="card-info container">
        <label name="nomePersonagem">Nome do personagem: </label>
        <input
          name="nomePersonagem"
          type="text"
          value="nome"
          class="input-info afastarInfo"
          [(ngModel)]="personagem.nome.id"
        />

        <label name="racaPersonagem">Raça: </label>
        <input
          name="racaPersonagem"
          type="text"
          value="raca"
          class="input-info afastarInfo"
          [(ngModel)]="personagem.raca.id"
        />

        <label name="classePersonagem">Classe: </label>
        <input
          name="classePersonagem"
          type="text"
          value="classe"
          class="input-info afastarInfo"
          [(ngModel)]="personagem.classe.id"
        />

        <label name="nivelPersonagem" class="">Nivel: </label>
        <input
          name="nivelPersonagem"
          type="number"
          value="nivel"
          class="input-nivel"
          [(ngModel)]="personagem.nivel.atributo"
        />
      </div>
    </form>
  </div>

  <div class="alinhar-cards">
    <form id="organizarAtributos">
      <div class="atributos">
        <button for="forca" class="atributoNome">Força</button>
        <input
          type="text"
          id="valorForca"
          value="forca"
          name="forca"
          class="inputAtributo"
          (change)="atualizarAtributos()"
          placeholder="10"
          [(ngModel)]="atributos['forca'].atributo"
        />
        <span class="modificador">
          ({{ atributos["forca"].modificador }})
        </span>
      </div>

      <div class="atributos">
        <button for="destreza" class="atributoNome">Destreza</button>
        <input
          type="text"
          id="valorDestreza"
          value="destreza"
          name="destreza"
          class="inputAtributo"
          (change)="atualizarAtributos()"
          placeholder="10"
          [(ngModel)]="atributos['destreza'].atributo"
        />
        <span class="modificador">
          ({{ atributos["destreza"].modificador }})
        </span>
      </div>

      <div class="atributos">
        <button for="constituicao" class="atributoNome">Constituição</button>
        <input
          type="text"
          id="valorConstituicao"
          value="constituicao"
          name="constituicao"
          class="inputAtributo"
          (change)="atualizarAtributos()"
          placeholder="10"
          [(ngModel)]="atributos['constituicao'].atributo"
        />
        <span class="modificador">
          ({{ atributos["constituicao"].modificador }})
        </span>
      </div>

      <div class="atributos">
        <button for="inteligencia" class="atributoNome">Inteligência</button>
        <input
          type="text"
          id="valorInteligencia"
          value="inteligencia"
          name="inteligencia"
          class="inputAtributo"
          (change)="atualizarAtributos()"
          placeholder="10"
          [(ngModel)]="atributos['inteligencia'].atributo"
        />
        <span class="modificador">
          ({{ atributos["inteligencia"].modificador }})
        </span>
      </div>

      <div class="atributos">
        <button for="sabedoria" class="atributoNome">Sabedoria</button>
        <input
          type="text"
          id="valorSabedoria"
          value="sabedoria"
          name="sabedoria"
          class="inputAtributo"
          (change)="atualizarAtributos()"
          placeholder="10"
          [(ngModel)]="atributos['sabedoria'].atributo"
        />
        <span class="modificador">
          ({{ atributos["sabedoria"].modificador }})
        </span>
      </div>

      <div class="atributos">
        <button for="carisma" class="atributoNome">Carisma</button
        ><input
          type="text"
          id="valorCarisma"
          value="carisma"
          name="carisma"
          class="inputAtributo"
          (change)="atualizarAtributos()"
          placeholder="10"
          [(ngModel)]="atributos['carisma'].atributo"
        />
        <span class="modificador">
          ({{ atributos["carisma"].modificador }})
        </span>
      </div>
    </form>
    <div class="alinhar-pericias">
      <div class="pericias-defesa">
        <h3 class="periciasTitulo">Testes de resistência</h3>
        <div class="pericias">
          <select
            name="grauTreinamento"
            class="caixaSelecao"
            (change)="onSelect($event)"
            (change)="treinamento('fortitude')"
            (change)="atualizarAtributos()"
          >
            <option value="destreinado">D</option>
            <option value="treinado">T</option>
            <option value="especialista">E</option>
            <option value="mestre">M</option>
            <option value="lendario">L</option>
          </select>
          <h4 class="periciasValor">{{ pericias["fortitude"].atributo }}</h4>

          <button class="textoPericias" (click)="rolagemPericia('fortitude')">
            Fortitude (Con):
          </button>
        </div>
        <div class="pericias">
          <select
            name="grauTreinamento"
            class="caixaSelecao"
            (change)="onSelect($event)"
            (change)="treinamento('reflexos')"
            (change)="atualizarAtributos()"
          >
            <option value="destreinado">D</option>
            <option value="treinado">T</option>
            <option value="especialista">E</option>
            <option value="mestre">M</option>
            <option value="lendario">L</option>
          </select>
          <h4 class="periciasValor">{{ pericias["reflexos"].atributo }}</h4>

          <button class="textoPericias" (click)="rolagemPericia('reflexos')">
            Reflexos (Des):
          </button>
        </div>
        <div class="pericias">
          <select
            name="grauTreinamento"
            class="caixaSelecao"
            (change)="onSelect($event)"
            (change)="treinamento('vontade')"
            (change)="atualizarAtributos()"
          >
            <option value="destreinado">D</option>
            <option value="treinado">T</option>
            <option value="especialista">E</option>
            <option value="mestre">M</option>
            <option value="lendario">L</option>
          </select>
          <h4 class="periciasValor">{{ pericias["vontade"].atributo }}</h4>

          <button class="textoPericias" (click)="rolagemPericia('vontade')">
            Vontade (Sab):
          </button>
        </div>
      </div>

      <div class="alinhar-pericia-ataque">
      <div id="pericias-card">
        <h3 class="periciasTitulo">Pericias</h3>
        <div class="pericias">
          <select
            name="grauTreinamento"
            class="caixaSelecao"
            (change)="onSelect($event)"
            (change)="treinamento('acrobacia')"
            (change)="atualizarAtributos()"
          >
            <option value="destreinado">D</option>
            <option value="treinado">T</option>
            <option value="especialista">E</option>
            <option value="mestre">M</option>
            <option value="lendario">L</option>
          </select>
          <h4 class="periciasValor">{{ pericias["acrobacia"].atributo }}</h4>
          <button
            id="acrobacia"
            class="textoPericias"
            (click)="rolagemPericia('acrobacia')"
          >
            Acrobacia (Des)
          </button>
        </div>
        <div class="pericias">
          <select
            name="grauTreinamento"
            class="caixaSelecao"
            (change)="onSelect($event)"
            (change)="treinamento('arcanismo')"
            (change)="atualizarAtributos()"
          >
            <option value="destreinado">D</option>
            <option value="treinado">T</option>
            <option value="especialista">E</option>
            <option value="mestre">M</option>
            <option value="lendario">L</option>
          </select>
          <h4 class="periciasValor">{{ pericias["arcanismo"].atributo }}</h4>
          <button class="textoPericias" (click)="rolagemPericia('arcanismo')">
            Arcanismo (Int)
          </button>
        </div>
        <div class="pericias">
          <select
            name="grauTreinamento"
            class="caixaSelecao"
            (change)="onSelect($event)"
            (change)="treinamento('atletismo')"
            (change)="atualizarAtributos()"
          >
            <option value="destreinado">D</option>
            <option value="treinado">T</option>
            <option value="especialista">E</option>
            <option value="mestre">M</option>
            <option value="lendario">L</option>
          </select>
          <h4 class="periciasValor">{{ pericias["atletismo"].atributo }}</h4>
          <button class="textoPericias" (click)="rolagemPericia('atletismo')">
            Atletismo (For)
          </button>
        </div>
        <div class="pericias">
          <select
            name="grauTreinamento"
            class="caixaSelecao"
            (change)="onSelect($event)"
            (change)="treinamento('cavalgar')"
            (change)="atualizarAtributos()"
          >
            <option value="destreinado">D</option>
            <option value="treinado">T</option>
            <option value="especialista">E</option>
            <option value="mestre">M</option>
            <option value="lendario">L</option>
          </select>
          <h4 class="periciasValor">{{ pericias["cavalgar"].atributo }}</h4>
          <button class="textoPericias" (click)="rolagemPericia('cavalgar')">
            Cavalgar (Des)
          </button>
        </div>
        <div class="pericias">
          <select
            name="grauTreinamento"
            class="caixaSelecao"
            (change)="onSelect($event)"
            (change)="treinamento('conhecimento')"
          >
            <option value="destreinado">D</option>
            <option value="treinado">T</option>
            <option value="especialista">E</option>
            <option value="mestre">M</option>
            <option value="lendario">L</option>
          </select>
          <h4 class="periciasValor">
            {{ pericias["conhecimento"].atributo }}
          </h4>

          <button
            class="textoPericias"
            (click)="rolagemPericia('conhecimento')"
          >
            Conhecimento (Int)
          </button>
        </div>
        <div class="pericias">
          <select
            name="grauTreinamento"
            class="caixaSelecao"
            (change)="onSelect($event)"
            (change)="treinamento('conhecimento2')"
          >
            <option value="destreinado">D</option>
            <option value="treinado">T</option>
            <option value="especialista">E</option>
            <option value="mestre">M</option>
            <option value="lendario">L</option>
          </select>
          <h4 class="periciasValor">
            {{ pericias["conhecimento2"].atributo }}
          </h4>

          <button
            class="textoPericias"
            (click)="rolagemPericia('conhecimento2')"
          >
            Conhecimento (Int)
          </button>
        </div>
        <div class="pericias">
          <select
            name="grauTreinamento"
            class="caixaSelecao"
            (change)="onSelect($event)"
            (change)="treinamento('diplomacia')"
            (change)="atualizarAtributos()"
          >
            <option value="destreinado">D</option>
            <option value="treinado">T</option>
            <option value="especialista">E</option>
            <option value="mestre">M</option>
            <option value="lendario">L</option>
          </select>
          <h4 class="periciasValor">{{ pericias["diplomacia"].atributo }}</h4>
          <button class="textoPericias" (click)="rolagemPericia('diplomacia')">
            Diplomacia (Car)
          </button>
        </div>
        <div class="pericias">
          <select
            name="grauTreinamento"
            class="caixaSelecao"
            (change)="onSelect($event)"
            (change)="treinamento('enganacao')"
            (change)="atualizarAtributos()"
          >
            <option value="destreinado">D</option>
            <option value="treinado">T</option>
            <option value="especialista">E</option>
            <option value="mestre">M</option>
            <option value="lendario">L</option>
          </select>
          <h4 class="periciasValor">{{ pericias["enganacao"].atributo }}</h4>
          <button class="textoPericias" (click)="rolagemPericia('enganacao')">
            Enganação (Car)
          </button>
        </div>
        <div class="pericias">
          <select
            name="grauTreinamento"
            class="caixaSelecao"
            (change)="onSelect($event)"
            (change)="treinamento('furtividade')"
            (change)="atualizarAtributos()"
          >
            <option value="destreinado">D</option>
            <option value="treinado">T</option>
            <option value="especialista">E</option>
            <option value="mestre">M</option>
            <option value="lendario">L</option>
          </select>
          <h4 class="periciasValor">{{ pericias["furtividade"].atributo }}</h4>
          <button class="textoPericias" (click)="rolagemPericia('furtividade')">
            Furtividade (Des)
          </button>
        </div>
        <div class="pericias">
          <select
            name="grauTreinamento"
            class="caixaSelecao"
            (change)="onSelect($event)"
            (change)="treinamento('intimidacao')"
            (change)="atualizarAtributos()"
          >
            <option value="destreinado">D</option>
            <option value="treinado">T</option>
            <option value="especialista">E</option>
            <option value="mestre">M</option>
            <option value="lendario">L</option>
          </select>
          <h4 class="periciasValor">{{ pericias["intimidacao"].atributo }}</h4>
          <button class="textoPericias" (click)="rolagemPericia('intimidacao')">
            Intimidação (Car)
          </button>
        </div>
        <div class="pericias">
          <select
            name="grauTreinamento"
            class="caixaSelecao"
            (change)="onSelect($event)"
            (change)="treinamento('ladroagem')"
            (change)="atualizarAtributos()"
          >
            <option value="destreinado">D</option>
            <option value="treinado">T</option>
            <option value="especialista">E</option>
            <option value="mestre">M</option>
            <option value="lendario">L</option>
          </select>
          <h4 class="periciasValor">{{ pericias["ladroagem"].atributo }}</h4>
          <button class="textoPericias" (click)="rolagemPericia('ladroagem')">
            Ladroagem (Des)
          </button>
        </div>
        <div class="pericias">
          <select
            name="grauTreinamento"
            class="caixaSelecao"
            (change)="onSelect($event)"
            (change)="treinamento('manufatura')"
            (change)="atualizarAtributos()"
          >
            <option value="destreinado">D</option>
            <option value="treinado">T</option>
            <option value="especialista">E</option>
            <option value="mestre">M</option>
            <option value="lendario">L</option>
          </select>
          <h4 class="periciasValor">{{ pericias["manufatura"].atributo }}</h4>

          <button class="textoPericias" (click)="rolagemPericia('manufatura')">
            Manufatura (Int)
          </button>
        </div>
        <div class="pericias">
          <select
            name="grauTreinamento"
            class="caixaSelecao"
            (change)="onSelect($event)"
            (change)="treinamento('medicina')"
            (change)="atualizarAtributos()"
          >
            <option value="destreinado">D</option>
            <option value="treinado">T</option>
            <option value="especialista">E</option>
            <option value="mestre">M</option>
            <option value="lendario">L</option>
          </select>
          <h4 class="periciasValor">{{ pericias["medicina"].atributo }}</h4>

          <button class="textoPericias" (click)="rolagemPericia('medicina')">
            Medicina (Sab)
          </button>
        </div>
        <div class="pericias">
          <select
            name="grauTreinamento"
            class="caixaSelecao"
            (change)="onSelect($event)"
            (change)="treinamento('natureza')"
            (change)="atualizarAtributos()"
          >
            <option value="destreinado">D</option>
            <option value="treinado">T</option>
            <option value="especialista">E</option>
            <option value="mestre">M</option>
            <option value="lendario">L</option>
          </select>
          <h4 class="periciasValor">{{ pericias["natureza"].atributo }}</h4>

          <button class="textoPericias" (click)="rolagemPericia('natureza')">
            Natureza (Sab)
          </button>
        </div>
        <div class="pericias">
          <select
            name="grauTreinamento"
            class="caixaSelecao"
            (change)="onSelect($event)"
            (change)="treinamento('ocultismo')"
            (change)="atualizarAtributos()"
          >
            <option value="destreinado">D</option>
            <option value="treinado">T</option>
            <option value="especialista">E</option>
            <option value="mestre">M</option>
            <option value="lendario">L</option>
          </select>
          <h4 class="periciasValor">{{ pericias["ocultismo"].atributo }}</h4>

          <button class="textoPericias" (click)="rolagemPericia('ocultismo')">
            Ocultismo (Int)
          </button>
        </div>
        <div class="pericias">
          <select
            name="grauTreinamento"
            class="caixaSelecao"
            (change)="onSelect($event)"
            (change)="treinamento('percepcao')"
            (change)="atualizarAtributos()"
          >
            <option value="destreinado">D</option>
            <option value="treinado">T</option>
            <option value="especialista">E</option>
            <option value="mestre">M</option>
            <option value="lendario">L</option>
          </select>
          <h4 class="periciasValor">{{ pericias["percepcao"].atributo }}</h4>

          <button class="textoPericias" (click)="rolagemPericia('percepcao')">
            Percepção (Sab)
          </button>
        </div>
        <div class="pericias">
          <select
            name="grauTreinamento"
            class="caixaSelecao"
            (change)="onSelect($event)"
            (change)="treinamento('perfomance')"
            (change)="atualizarAtributos()"
          >
            <option value="destreinado">D</option>
            <option value="treinado">T</option>
            <option value="especialista">E</option>
            <option value="mestre">M</option>
            <option value="lendario">L</option>
          </select>
          <h4 class="periciasValor">{{ pericias["perfomance"].atributo }}</h4>

          <button class="textoPericias" (click)="rolagemPericia('perfomance')">
            Perfomance (Car)
          </button>
        </div>
        <div class="pericias">
          <select
            name="grauTreinamento"
            class="caixaSelecao"
            (change)="onSelect($event)"
            (change)="treinamento('religiao')"
            (change)="atualizarAtributos()"
          >
            <option value="destreinado">D</option>
            <option value="treinado">T</option>
            <option value="especialista">E</option>
            <option value="mestre">M</option>
            <option value="lendario">L</option>
          </select>
          <h4 class="periciasValor">{{ pericias["religiao"].atributo }}</h4>

          <button class="textoPericias" (click)="rolagemPericia('religiao')">
            Religião (Sab)
          </button>
        </div>

        <div class="pericias">
          <select
            name="grauTreinamento"
            class="caixaSelecao"
            (change)="onSelect($event)"
            (change)="treinamento('sociedade')"
            (change)="atualizarAtributos()"
          >
            <option value="destreinado">D</option>
            <option value="treinado">T</option>
            <option value="especialista">E</option>
            <option value="mestre">M</option>
            <option value="lendario">L</option>
          </select>
          <h4 class="periciasValor">{{ pericias["sociedade"].atributo }}</h4>

          <button class="textoPericias" (click)="rolagemPericia('sociedade')">
            Sociedade (Int)
          </button>
        </div>
        <div class="pericias">
          <select
            name="grauTreinamento"
            class="caixaSelecao"
            (change)="onSelect($event)"
            (change)="treinamento('sobrevivencia')"
            (change)="atualizarAtributos()"
          >
            <option value="destreinado">D</option>
            <option value="treinado">T</option>
            <option value="especialista">E</option>
            <option value="mestre">M</option>
            <option value="lendario">L</option>
          </select>
          <h4 class="periciasValor">
            {{ pericias["sobrevivencia"].atributo }}
          </h4>

          <button
            class="textoPericias"
            (click)="rolagemPericia('sobrevivencia')"
          >
            Sobrevivência (Sab)
          </button>
        </div>
      </div>

    </div>
  </div>
    <div>
      <form class="inputDefesas">
        <div class="alinhar-pv-ca">
          <label for="pvMax" id="pvMaxTitulo">PV máximos</label>
          <input
            type="text"
            value="pvMax"
            class="inputPVCA"
            id="pvMaxInput"
            name="pvMax"
            placeholder="10"
            [(ngModel)]="statusJogador.vidaMax.atributo"
          />
        </div>
        <div class="alinhar-pv-ca">
          <label for="pvAtual" id="pvAtualTitulo">PV atuais</label>
          <input
            type="text"
            class="inputPVCA"
            value="pvAtual"
            id="pvAtualInput"
            name="pvAtual"
            placeholder="10"
            [(ngModel)]="statusJogador.vidaAtual.atributo"
          />
        </div>
        <div class="alinhar-pv-ca">
          <label for="defesa" id="caTitulo">Classe de Armadura</label>
          <input
            type="text"
            class="inputPVCA"
            value="defesa"
            id="caInput"
            name="defesa"
            placeholder="10"
            [(ngModel)]="statusJogador.ca.atributo"
          />
        </div>
      </form>
    </div>

    <div>
      <img
        src="../../../assets/personagem placeholder.jpg"
        id="foto-personagem"
        alt="foto do personagem"
      />
    </div>
  </div>
  <div class="ataque-card">
    <h3 class="ataque-titulo">Ataques & magias</h3>
    <h4 class="itens">Rapieira</h4>
    <h4 class="itens">Bola de fogo</h4>
  </div>
  <div class="inventario-card">
    <h3 class="inventario-titulo">Inventario</h3>
    <h4 class="itens">Armadura de couro</h4>
    <h4 class="itens">Rapieira</h4>
    <h4 class="itens">Saco de dormir</h4>
  </div>

  <div class=""></div>
</section>
