
.card-info{
  width: 90rem;
  height: 2rem;
  margin-bottom: 0.5rem;
  font-size: larger;
  padding-left: 0;
  margin-left: 0;
  margin-top: 0.5rem;
}

.espacamento-info-direita{
  margin-right: 3rem;
}

.input-info{
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: large;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.input-nivel{
  width: 3rem;
  height: 2rem;
  font-size: large;
  background-color: transparent;
  border: none;
  color: #ffffff;
  padding-left: 0.5rem;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  text-align: left;

}

.alinhar-atributos{
  display: flex;
  flex-direction: column;
  height: 50rem;
}

.atributos {
  border: 1px solid #ffffffff;
  width: 2rem;
  height: 2rem;
  background-color: #202124;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
  align-items: center;
  margin-right: 3rem;
}

.input-atributo {
  background-color: transparent;
  color: #ffffffff;
  width: 2rem;
  height: 2rem;
  font-size: x-large;
  border: none;
  position: relative;
  bottom: 0.5rem;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.atributo-nome {
  position: relative;
  bottom: 1rem;
  background-color: transparent;
  color: #ffffffff;
  border: none;
  font-size: medium;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.modificador {
  position: relative;
  bottom: 0.5rem;
}

#pericias-card {
  background-color: #202124;
  border: 1px solid #ffffff;
  border-radius: 20px;
  height: 100%;
  width: 240px;
  padding: 5px 5px 15px;
  box-sizing: border-box;
  position: relative;
  bottom: 15rem;
}

.percepcao-passiva{
  font-size: x-large;
  font-style: normal;
  font-weight: 400;
  margin: auto;
}

.cards-titulo {
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: large;
  font-weight: 500;
}

.caixa-selecao {
  border: none;
  background-color: #202124;
  color: #ffffff;
  font-size: medium;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.pericias {
  display: flex;
  margin-bottom: 0.35rem;
}

.alinhar-cards {
  display: flex;
  flex-direction: row;
  height: 8rem;
}

.texto-pericias {
  color: #ffffff;
  background-color: #202124;
  border: none;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: medium;
  position: relative;
  left: 2rem;
}

.alinhar-atributos-pericias{
  display: flex;
}

.alinhar-ataque-inventario{
  display: flex;

}
.alinhar-pv-ca {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  height: 10rem;
  font-size: large;
  margin-right: 1.5rem;
}

#pv-max-input {
  background-image: url("../../../assets/icon coracao.svg");
  background-size: 100%;
  background-repeat: no-repeat;

}

#pv-atual-input{
  background-image: url("../../../assets/icon pv atual.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

#pv-temporario-input{
  background-image: url("../../../assets/icon pv temporario.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

#ca-input{
  background-image: url("../../../assets/shield.svg");
  background-size: 80rem;
  background-repeat: no-repeat;
}

#deslocamento-input{
  background-image: url("../../../assets/deslocamento.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.input-pv-ca {
  background-color: transparent;
  color: #ffffff;
  font-size: xx-large;
  margin-top: 1rem;
  border: none;
  text-align: center;
  height: 5rem;
  width: 5rem;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.input-defesas {
  display: flex;
  flex-direction: row;
  margin:auto;
}

.pericias-valor {
  font-size: large;
  color: white;

  font-weight: 500;
}

.teste-resistencia{
  background-color: #202124;
  border: 1px solid #ffffff;
  border-radius: 20px;
  height: 8rem;
  padding: 5px 5px 15px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  width: 15rem;
  margin-right: 2rem;
}

.alinhar-pericias{
  display: flex;
  flex-direction: column;
}

#foto-personagem
{
  position: relative;
  left: 2rem;
  top: 4.8rem;
  height: 40rem;
  border: 1px solid transparent;
  border-radius: 30px;
}

button:hover{
  cursor: pointer;
  color: #e50914;
}

.alinhar-pericias-ataque{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.ataque-card{
  background-color: #202124;
  border: 1px solid #ffffff;
  border-radius: 20px;
  width: 25rem;
  min-height: 15rem;
  max-height: 80rem;
  margin-left: 2rem;
}

.inventario-card{
  background-color: #202124;
  border: 1px solid white;
  border-radius: 20px;
  width: 25rem;
  min-height: 15rem;
  max-height: 80rem;
  margin-left: 2rem;
}

.itens {
  margin-left: 2rem;
  padding-bottom: 0.5rem;
}

.ataque{
  width: 10rem;
  height: 1.5rem;
  margin-right: 1rem;
  border: none;
  border-radius: 8px;
  margin-left: 1rem;
  padding-left: 0.5rem;
  text-align: left;
}

.bonus{
  width: 3rem;
  height: 1.5rem;
  border: none;
  border-radius: 8px;
  margin-right: 1rem;
}

.dano{
  width: 8rem;
  border: none;
  border-radius: 8px;
  text-align: left;
  padding-left: 0.5rem;
}

.adicionar{
  margin-top: 0.5rem;
  margin-left: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}

.alinhar-ataques{
  display: flex;
  color: black;

}

.alinhar-nomes-ataque{
  display: flex;
  margin-bottom: 0.5rem;

}

.nome-ataque{
  margin-left: 1.5rem;
  margin-right: 9.5rem;

  font-weight: 500;
}

.qntd-bonus{
  margin-right: 2.5rem;
  font-weight: 500;
}

.qntd-dano{
  font-weight: 500;
}
