
.card-info{
  background-color: #cc3333;
  border-radius: 30px;
  width: 90rem;
  height: 2rem;
  margin-bottom: 2rem;
  font-size: larger;

}

.afastarInfo{
  margin-right: 3rem;
}

.input-info{
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: larger;

}

.input-nivel{
  width: 3rem;
  height: 3rem;
  font-size: x-large;
  background-color: transparent;
  border: none;
  color: #ffffff;
  padding-left: 1rem;

}
#organizaratributos {
  display: flex;
  flex-direction: column;
}

.atributos {
  border: 1px solid #ffffffff;
  width: 2rem;
  height: 2rem;
  background-color: #cc3333;
  border-radius: 30px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
  align-items: center;
  margin-left: 12rem;
}

.inputAtributo {
  background-color: transparent;
  color: #ffffffff;
  width: 2rem;
  height: 2rem;
  font-size: x-large;
  border: none;
  position: relative;
  bottom: 0.5rem;
}

.atributoNome {
  position: relative;
  bottom: 1rem;
  background-color: transparent;
  color: #ffffffff;
  border: none;
}

.modificador {
  position: relative;
  bottom: 0.5rem;
}

#pericias-card {
  background-color: #cc3333;
  border: 1px solid #ffffff;
  border-radius: 30px;
  height: 30rem;
  width: 13rem;
  padding: 5px 5px 15px;
  box-sizing: border-box;
  margin-left: 3rem;
}

.periciasTitulo {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 10px;
}

.caixaSelecao {
  border: none;
  background-color: #cc3333;
  color: #ffffff;
  font-size: 10px;
}

.pericias {
  display: flex;
  margin-bottom: 0.5rem;
}

.alinhar-cards {
  display: flex;
  flex-direction: row;
}

.textoPericias {
  color: #ffffff;
  font-size: 10px;
  background-color: #cc3333;
  border: none;
  margin-left: 3rem;
}

.alinhar-pv-ca {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
  width: 10rem;
  height: 10rem;
}

#pvMaxInput {
  background-image: url(../../../assets/icon\ coracao.svg);
  background-size: 100%;
  background-repeat: no-repeat;

}

#pvAtualInput{
  background-image: url(../../../assets/icon\ coracao.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#caInput{
  background-image: url(../../../assets/shield.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.inputPVCA {
  background-color: transparent;
  color: #ffffff;
  font-size: x-large;
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
  border: none;
  text-align: center;
  height: 5rem;
  width: 5rem;
}

.inputDefesas {
  display: flex;
  flex-direction: row;
  margin:auto;
}

.periciasValor {
  font-size: 10px;
}

.pericias-defesa{
  background-color: #cc3333;
  border: 1px solid #ffffff;
  border-radius: 30px;
  height: 8rem;
  width: 13rem;
  padding: 5px 5px 15px;
  box-sizing: border-box;
  margin-left: 3rem;
  margin-bottom: 4rem;
}

.alinhar-pericias{
  display: flex;
  flex-direction: column;
}

#foto-personagem
{
  height: 43rem;
}
