<section class="textoFormatado alinhar-cards-flex">
  <div>
    <form>
      <div class="atributo-cards">
        <label for="forca" class="atributos alinhar-atributos valorForca"
          >Força</label
        >
        <input
          type="text"
          id="valorForca"
          value="forca"
          name="forca"
          class="inputAtributo"
          (change)="atualizarAtributos()"
          placeholder="10"
          [(ngModel)]="forca.atributo"
        />
        ({{ forca.modificadorForca }})
      </div>

      <div class="atributo-cards">
        <label for="destreza" class="valorDestreza atributos alinhar-atributos"
          >Destreza</label
        >
        <input
          type="text"
          id="valorDestreza"
          value="destreza"
          name="destreza"
          class="inputAtributo"
          (change)="atualizarAtributos()"
          placeholder="10"
          [(ngModel)]="destreza.atributo"
        />
        ({{ destreza.modificadorDestreza }})
      </div>

      <div class="atributo-cards">
        <label
          for="constituicao"
          class="valorConstituicao atributos alinhar-atributos"
          >Constituição</label
        >
        <input
          type="text"
          id="valorConstituicao"
          value="constituicao"
          name="constituicao"
          class="inputAtributo"
          (change)="atualizarAtributos()"
          placeholder="10"
          [(ngModel)]="constituicao.atributo"
        />
        ({{ constituicao.modificadorConstituicao }})
      </div>

      <div class="atributo-cards">
        <label
          for="inteligencia"
          class="valorInteligencia atributos alinhar-atributos"
          >Inteligência</label
        >
        <input
          type="text"
          id="valorInteligencia"
          value="inteligencia"
          name="inteligencia"
          class="inputAtributo"
          (change)="atualizarAtributos()"
          placeholder="10"
          [(ngModel)]="inteligencia.atributo"
        />
        ({{ inteligencia.modificadorInteligencia }})
      </div>

      <div class="atributo-cards">
        <label
          for="sabedoria"
          class="valorSabedoria atributos alinhar-atributos"
          >Sabedoria</label
        >
        <input
          type="text"
          id="valorSabedoria"
          value="sabedoria"
          name="sabedoria"
          class="inputAtributo"
          (change)="atualizarAtributos()"
          placeholder="10"
          [(ngModel)]="sabedoria.atributo"
        />
        ({{ sabedoria.modificadorSabedoria }})
      </div>

      <div class="atributo-cards">
        <label for="carisma" class="valorCarisma atributos alinhar-atributos"
          >Carisma</label
        ><input
          type="text"
          id="valorCarisma"
          value="carisma"
          name="carisma"
          class="inputAtributo"
          (change)="atualizarAtributos()"
          placeholder="10"
          [(ngModel)]="carisma.atributo"
        />
        ({{ carisma.modificadorCarisma }})
      </div>
    </form>
  </div>

  <div class="status-card">
    <h2>Status</h2>
    <form class="pv">
      <label for="pvMax" class="atributos">Pontos de vida máximos:</label>
      <input
        type="text"
        value="pvMax"
        class="inputPv"
        id="pvMaxInput"
        name="pvMax"
        placeholder="10"
        [(ngModel)]="vidaMax.atributo"
      />
      <label for="pvAtual" class="atributos">PV atuais:</label>
      <input
        type="text"
        class="inputPv"
        value="pvAtual"
        id="pvAtual"
        name="pvAtual"
        placeholder="10"
        [(ngModel)]="vidaAtual.atributo"
      />
      <label for="defesa" class="atributos">Classe de armadura:</label>
      <input
        type="text"
        class="inputPv"
        value="defesa"
        id="defesa"
        name="defesa"
        placeholder="10"
        [(ngModel)]="ca.atributo"
      />
    </form>
  </div>
  <div class="status-card">
    <h3 id="periciasTitulo">Pericias de defesa</h3>
    <div id="alinhar-pericias">
      <select
        name="grauTreinamento"
        class="caixaSelecao"
        (change)="onSelect($event)"
        (change)="fortitudeTreinamento()"
        (change)="atualizarAtributos()"
      >
        <option value="destreinado">D</option>
        <option value="treinado">T</option>
        <option value="especialista">E</option>
        <option value="mestre">M</option>
        <option value="lendario">L</option>
      </select>
      <h4 class="pericias">Fortitude (Con):</h4>
      <h4 class="atributosValor">{{ fortitude.atributo }}</h4>
    </div>
    <div id="alinhar-pericias">
      <select
        name="grauTreinamento"
        class="caixaSelecao"
        (change)="onSelect($event)"
        (change)="reflexosTreinamento()"
        (change)="atualizarAtributos()"
      >
        <option value="destreinado">D</option>
        <option value="treinado">T</option>
        <option value="especialista">E</option>
        <option value="mestre">M</option>
        <option value="lendario">L</option>
      </select>
      <h4 class="pericias">Reflexos (Des):</h4>
      <h4 class="atributosValor">{{ reflexos.atributo }}</h4>
    </div>
    <div id="alinhar-pericias">
      <select
        name="grauTreinamento"
        class="caixaSelecao"
        (change)="onSelect($event)"
        (change)="vontadeTreinamento()"
        (change)="atualizarAtributos()"
      >
        <option value="destreinado">D</option>
        <option value="treinado">T</option>
        <option value="especialista">E</option>
        <option value="mestre">M</option>
        <option value="lendario">L</option>
      </select>
      <h4 class="pericias">Vontade (Sab):</h4>
      <h4 class="atributosValor">{{ vontade.atributo }}</h4>
    </div>
  </div>
  <div class="cards-proficiencia">
    <h3 id="periciasTitulo">Pericias</h3>
    <div id="alinhar-pericias">
      <select
        name="grauTreinamento"
        class="caixaSelecao"
        (change)="onSelect($event)"
        (change)="acrobaciaTreinamento()"
        (change)="atualizarAtributos()"
      >
        <option value="destreinado">D</option>
        <option value="treinado">T</option>
        <option value="especialista">E</option>
        <option value="mestre">M</option>
        <option value="lendario">L</option>
      </select>
      <h4 class="pericias">Acrobacia (Des):</h4>
      <h4 class="atributosValor">{{ acrobacia.atributo }}</h4>
    </div>
    <div id="alinhar-pericias">
      <select
        name="grauTreinamento"
        class="caixaSelecao"
        (change)="onSelect($event)"
        (change)="arcanismoTreinamento()"
        (change)="atualizarAtributos()"
      >
        <option value="destreinado">D</option>
        <option value="treinado">T</option>
        <option value="especialista">E</option>
        <option value="mestre">M</option>
        <option value="lendario">L</option>
      </select>
      <h4 class="pericias">Arcanismo (Int):</h4>
      <h4 class="atributosValor">{{ arcanismo.atributo }}</h4>
    </div>
    <div id="alinhar-pericias">
      <select
        name="grauTreinamento"
        class="caixaSelecao"
        (change)="onSelect($event)"
        (change)="atletismoTreinamento()"
        (change)="atualizarAtributos()"
      >
        <option value="destreinado">D</option>
        <option value="treinado">T</option>
        <option value="especialista">E</option>
        <option value="mestre">M</option>
        <option value="lendario">L</option>
      </select>
      <h4 class="pericias">Atletismo (For):</h4>
      <h4 class="atributosValor">{{ atletismo.atributo }}</h4>
    </div>
    <div id="alinhar-pericias">
      <select
        name="grauTreinamento"
        class="caixaSelecao"
        (change)="onSelect($event)"
        (change)="cavalgarTreinamento()"
        (change)="atualizarAtributos()"
      >
        <option value="destreinado">D</option>
        <option value="treinado">T</option>
        <option value="especialista">E</option>
        <option value="mestre">M</option>
        <option value="lendario">L</option>
      </select>
      <h4 class="pericias">Cavalgar (Des):</h4>
      <h4 class="atributosValor">{{ cavalgar.atributo }}</h4>
    </div>
    <div id="alinhar-pericias">
      <select
        name="grauTreinamento"
        class="caixaSelecao"
        (change)="onSelect($event)"
        (change)="diplomaciaTreinamento()"
        (change)="atualizarAtributos()"
      >
        <option value="destreinado">D</option>
        <option value="treinado">T</option>
        <option value="especialista">E</option>
        <option value="mestre">M</option>
        <option value="lendario">L</option>
      </select>
      <h4 class="pericias">Diplomacia (Car):</h4>
      <h4 class="atributosValor">{{ diplomacia.atributo }}</h4>
    </div>
    <div id="alinhar-pericias">
      <select
        name="grauTreinamento"
        class="caixaSelecao"
        (change)="onSelect($event)"
        (change)="enganacaoTreinamento()"
        (change)="atualizarAtributos()"
      >
        <option value="destreinado">D</option>
        <option value="treinado">T</option>
        <option value="especialista">E</option>
        <option value="mestre">M</option>
        <option value="lendario">L</option>
      </select>
      <h4 class="pericias">Enganação (Car):</h4>
      <h4 class="atributosValor">{{ enganacao.atributo }}</h4>
    </div>
    <div id="alinhar-pericias">
      <select
        name="grauTreinamento"
        class="caixaSelecao"
        (change)="onSelect($event)"
        (change)="furtividadeTreinamento()"
        (change)="atualizarAtributos()"
      >
        <option value="destreinado">D</option>
        <option value="treinado">T</option>
        <option value="especialista">E</option>
        <option value="mestre">M</option>
        <option value="lendario">L</option>
      </select>
      <h4 class="pericias">Furtividade (Des):</h4>
      <h4 class="atributosValor">{{ furtividade.atributo }}</h4>
    </div>
    <div id="alinhar-pericias">
      <select
        name="grauTreinamento"
        class="caixaSelecao"
        (change)="onSelect($event)"
        (change)="intimidacaoTreinamento()"
        (change)="atualizarAtributos()"
      >
        <option value="destreinado">D</option>
        <option value="treinado">T</option>
        <option value="especialista">E</option>
        <option value="mestre">M</option>
        <option value="lendario">L</option>
      </select>
      <h4 class="pericias">Intimidação (Car):</h4>
      <h4 class="atributosValor">{{ intimidacao.atributo }}</h4>
    </div>
    <div id="alinhar-pericias">
      <select
        name="grauTreinamento"
        class="caixaSelecao"
        (change)="onSelect($event)"
        (change)="ladroagemTreinamento()"
        (change)="atualizarAtributos()"
      >
        <option value="destreinado">D</option>
        <option value="treinado">T</option>
        <option value="especialista">E</option>
        <option value="mestre">M</option>
        <option value="lendario">L</option>
      </select>
      <h4 class="pericias">Ladroagem (Des):</h4>
      <h4 class="atributosValor">{{ ladroagem.atributo }}</h4>
    </div>
    <div id="alinhar-pericias">
      <select
        name="grauTreinamento"
        class="caixaSelecao"
        (change)="onSelect($event)"
        (change)="manufaturaTreinamento()"
        (change)="atualizarAtributos()"
      >
        <option value="destreinado">D</option>
        <option value="treinado">T</option>
        <option value="especialista">E</option>
        <option value="mestre">M</option>
        <option value="lendario">L</option>
      </select>
      <h4 class="pericias">Manufatura (Int):</h4>
      <h4 class="atributosValor">{{ manufatura.atributo }}</h4>
    </div>
    <div id="alinhar-pericias">
      <select
        name="grauTreinamento"
        class="caixaSelecao"
        (change)="onSelect($event)"
        (change)="medicinaTreinamento()"
        (change)="atualizarAtributos()"
      >
        <option value="destreinado">D</option>
        <option value="treinado">T</option>
        <option value="especialista">E</option>
        <option value="mestre">M</option>
        <option value="lendario">L</option>
      </select>
      <h4 class="pericias">Medicina (Sab):</h4>
      <h4 class="atributosValor">{{ medicina.atributo }}</h4>
    </div>
    <div id="alinhar-pericias">
      <select
        name="grauTreinamento"
        class="caixaSelecao"
        (change)="onSelect($event)"
        (change)="naturezaTreinamento()"
        (change)="atualizarAtributos()"
      >
        <option value="destreinado">D</option>
        <option value="treinado">T</option>
        <option value="especialista">E</option>
        <option value="mestre">M</option>
        <option value="lendario">L</option>
      </select>
      <h4 class="pericias">Natureza (Sab):</h4>
      <h4 class="atributosValor">{{ natureza.atributo }}</h4>
    </div>
    <div id="alinhar-pericias">
      <select
        name="grauTreinamento"
        class="caixaSelecao"
        (change)="onSelect($event)"
        (change)="ocultismoTreinamento()"
        (change)="atualizarAtributos()"
      >
        <option value="destreinado">D</option>
        <option value="treinado">T</option>
        <option value="especialista">E</option>
        <option value="mestre">M</option>
        <option value="lendario">L</option>
      </select>
      <h4 class="pericias">Ocultismo (Int):</h4>
      <h4 class="atributosValor">{{ ocultismo.atributo }}</h4>
    </div>
    <div id="alinhar-pericias">
      <select
        name="grauTreinamento"
        class="caixaSelecao"
        (change)="onSelect($event)"
        (change)="percepcaoTreinamento()"
        (change)="atualizarAtributos()"
      >
        <option value="destreinado">D</option>
        <option value="treinado">T</option>
        <option value="especialista">E</option>
        <option value="mestre">M</option>
        <option value="lendario">L</option>
      </select>
      <h4 class="pericias">Percepção (Sab):</h4>
      <h4 class="atributosValor">{{ percepcao.atributo }}</h4>
    </div>
    <div id="alinhar-pericias">
      <select
        name="grauTreinamento"
        class="caixaSelecao"
        (change)="onSelect($event)"
        (change)="perfomanceTreinamento()"
        (change)="atualizarAtributos()"
      >
        <option value="destreinado">D</option>
        <option value="treinado">T</option>
        <option value="especialista">E</option>
        <option value="mestre">M</option>
        <option value="lendario">L</option>
      </select>
      <h4 class="pericias">Perfomance (Car):</h4>
      <h4 class="atributosValor">{{ perfomance.atributo }}</h4>
    </div>
    <div id="alinhar-pericias">
      <select
        name="grauTreinamento"
        class="caixaSelecao"
        (change)="onSelect($event)"
        (change)="religiaoTreinamento()"
        (change)="atualizarAtributos()"
      >
        <option value="destreinado">D</option>
        <option value="treinado">T</option>
        <option value="especialista">E</option>
        <option value="mestre">M</option>
        <option value="lendario">L</option>
      </select>
      <h4 class="pericias">Religião (Sab):</h4>
      <h4 class="atributosValor">{{ religiao.atributo }}</h4>
    </div>
    <div id="alinhar-pericias">
      <select
        name="grauTreinamento"
        class="caixaSelecao"
        (change)="onSelect($event)"
        (change)="saberTreinamento()"
      >
        <option value="destreinado">D</option>
        <option value="treinado">T</option>
        <option value="especialista">E</option>
        <option value="mestre">M</option>
        <option value="lendario">L</option>
      </select>
      <h4 class="pericias">Saber:</h4>
      <h4 class="atributosValor">{{ conhecimento.atributo }}</h4>
    </div>
    <div id="alinhar-pericias">
      <select
        name="grauTreinamento"
        class="caixaSelecao"
        (change)="onSelect($event)"
        (change)="saber2Treinamento()"
      >
        <option value="destreinado">D</option>
        <option value="treinado">T</option>
        <option value="especialista">E</option>
        <option value="mestre">M</option>
        <option value="lendario">L</option>
      </select>
      <h4 class="pericias">Saber:</h4>
      <h4 class="atributosValor">{{ conhecimento2.atributo }}</h4>
    </div>
    <div id="alinhar-pericias">
      <select
        name="grauTreinamento"
        class="caixaSelecao"
        (change)="onSelect($event)"
        (change)="sociedadeTreinamento()"
        (change)="atualizarAtributos()"
      >
        <option value="destreinado">D</option>
        <option value="treinado">T</option>
        <option value="especialista">E</option>
        <option value="mestre">M</option>
        <option value="lendario">L</option>
      </select>
      <h4 class="pericias">Sociedade (Int):</h4>
      <h4 class="atributosValor">{{ sociedade.atributo }}</h4>
    </div>
    <div id="alinhar-pericias">
      <select
        name="grauTreinamento"
        class="caixaSelecao"
        (change)="onSelect($event)"
        (change)="sobrevivenciaTreinamento()"
        (change)="atualizarAtributos()"
      >
        <option value="destreinado">D</option>
        <option value="treinado">T</option>
        <option value="especialista">E</option>
        <option value="mestre">M</option>
        <option value="lendario">L</option>
      </select>
      <h4 class="pericias">Sobrevivência (Sab):</h4>
      <h4 class="atributosValor">{{ sobrevivencia.atributo }}</h4>
    </div>
  </div>
</section>
<div class="alinhar-cards-flex alinhar-cards-coluna">
  <div class="inventario-card alinhar-cards-coluna">
    <h2>Inventario</h2>
    <ul>
      <li>Mochila</li>
      <li>Saco de dormir</li>
      <li>Traje de viajante</li>
      <li>Tridente</li>
      <li>Armadura de couro</li>
      <li>Escudo leve</li>
    </ul>
    <hr />
    <h2>Dinheiro</h2>
    <h2>16 Tibar</h2>
  </div>
  <div class="historia-card">
    <h3>Historia</h3>
    <p>
      Nilo era um taverneiro que mantinha seus negocios acontecendo a bordo de
      um grande navio, até que um dia sua embarcação foi invadida e destruida
      por piratas. Perto da morte ele jurou lealdade ao deus das águas, Oceano,
      em troca de afundar o navio dos piratas. Tendo suas preces atendidas Nilo
      adquiriu poderes druidicos e se vingou de seus agressores. Com seu
      objetivo concluido, tudo que lhe restou foi seguir as condutas que seu
      deus lhe dava de proteger aqueles que cruzassem o mar, até que ele
      conheceu um grupo de aventureiros no caminho.
    </p>
  </div>
</div>
