.atributos-secao{
  margin: auto;
  border-radius: 0;
  border-right: none;
  border-left: none;
}
.atributos-cards{
  padding: 0.5rem;
  height: 4rem;
  width: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.input-atributos{
  width: 2rem;
  height: 2rem;
  border: transparent;
  border-radius: 4px;
  text-align: center;
}

.modificador{
  font-size: x-large;
  margin-top: 0.5rem;
}

.fileiras{
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.nome-atributo{
  border: none;
  background: transparent;
  font-size: large;
}

button:hover{
  cursor: pointer;
  color: red;
}

@media (min-width: 992px){
  .atributos-secao{
    margin-top: 0.5rem;
    margin-left: 1rem;
    border-left: 1px solid #3C3E43;
    border-right: 1px solid #3C3E43;
    border-radius: 10px;
  }
  .fileiras{
    margin-bottom: 0;
  }
  form{
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
  }
  .atributos-cards{
    flex-direction: column;
    padding: 1rem 1rem 2rem 1rem;
  }

}
