
.atributos {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #202124;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
  align-items: center;
  margin-right: 2rem;
}

.input-atributo {
  background-color: transparent;
  color: #ffffffff;
  border: none;
  position: relative;
  bottom: 0.8rem;
  text-align: center;
  width: 2rem;
  height: 2rem;
  font-size: large;
}

.atributo-nome {
  position: relative;
  bottom: 1rem;
  background-color: transparent;
  color: #ffffffff;
  border: none;
  font-size: medium;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.modificador {
  position: relative;
  bottom: 0.7rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  font-size: x-large;
  margin-bottom: 0.3rem;
}

button:hover{
  cursor: pointer;
  color: #e50914;
}
