<form>
  <div class="fileiras">
  <div class="atributos borda-10px">
    <button class="atributo-nome">Força</button>
    <span class="modificador"> {{ AtributosService.atributos["forca"].modificador }} </span>
    <input
      type="text"
      id="valor-forca"
      name="forca"
      class="input-atributo vt323"
      (change)="AtributosService.atualizar()"
      placeholder="0"
      [(ngModel)]="AtributosService.atributos['forca'].atributo"
    />

  </div>

  <div class="atributos borda-10px">
    <button class="atributo-nome">Destreza</button>
    <span class="modificador"> {{ AtributosService.atributos["destreza"].modificador }} </span>
    <input
      type="text"
      id="valor-destreza"
      name="destreza"
      class="input-atributo vt323"
      (change)="AtributosService.atualizar()"
      placeholder="0"
      [(ngModel)]="AtributosService.atributos['destreza'].atributo"
    />
  </div>

  <div class="atributos borda-10px">
    <button class="atributo-nome">Constituição</button>
    <span class="modificador">
      {{ AtributosService.atributos["constituicao"].modificador }}
    </span>
    <input
      type="text"
      id="valor-constituicao"
      name="constituicao"
      class="input-atributo vt323"
      (change)="AtributosService.atualizar()"
      placeholder="0"
      [(ngModel)]="AtributosService.atributos['constituicao'].atributo"
    />

  </div>
  </div>
  <div class="fileiras">
  <div class="atributos borda-10px">
    <button class="atributo-nome">Inteligência</button>
    <span class="modificador">
      {{ AtributosService.atributos["inteligencia"].modificador }}
    </span>
    <input
      type="text"
      id="valor-inteligencia"
      name="inteligencia"
      class="input-atributo vt323"
      (change)="AtributosService.atualizar()"
      placeholder="0"
      [(ngModel)]="AtributosService.atributos['inteligencia'].atributo"
    />

  </div>
  <div class="atributos borda-10px">
    <button class="atributo-nome">Sabedoria</button>
    <span class="modificador">
      {{ AtributosService.atributos["sabedoria"].modificador }}
    </span>
    <input
      type="text"
      id="valor-sabedoria"
      name="sabedoria"
      class="input-atributo vt323"
      (change)="AtributosService.atualizar()"
      placeholder="0"
      [(ngModel)]="AtributosService.atributos['sabedoria'].atributo"
    />

  </div>

  <div class="atributos borda-10px">
    <button class="atributo-nome">Carisma</button
    >
    <span class="modificador"> {{ AtributosService.atributos["carisma"].modificador }} </span>
    <input
      type="text"
      id="valor-carisma"
      name="carisma"
      class="input-atributo vt323"
      (change)="AtributosService.atualizar()"
      placeholder="0"
      [(ngModel)]="AtributosService.atributos['carisma'].atributo"
    />
  </div>
  </div>
</form>
