
.atributos-cards{
  padding: 0.5rem;
  height: 4rem;
  width: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.input-atributos{
  width: 2rem;
  height: 2rem;
  border: transparent;
  border-radius: 4px;
  text-align: center;
}

.modificador{
  font-size: x-large;
  margin-top: 0.5rem;
}

.fileiras{
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.nome-atributo{
  border: none;
  background: transparent;
}

@media (min-width: 992px){
  .atributos-secao{
    margin-top: 2rem;
  }
  .fileiras{
    display: unset;
  }
  .titulo-secao{
    display: none;
  }
  .atributos-cards{
    margin-left: 1.5rem;
    margin-bottom: 2.4rem;
    flex-direction: column;
  }

}
