@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:host ::ng-deep .borda-4px-ataques{
  background-color: #363943;
  border: 1px solid #363943;
  border-radius: 4px;
}

.vt323 {
  color: #ffffff;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.borda-10px{
  border: 1px solid #323337;
  border-radius: 10px;
}

.header {
  margin: 1rem auto 2rem;
}

.botao-aba {
  border: 1px white solid;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: transparent;
  color: #ffffff;
  width: 100px;
  margin-right: 1rem;
  font-size: large;
  cursor: pointer;
}

.botao-aba:hover {
  color: #e50914;
}

.activebutton{
  background-color: #b63035;
}

.activebutton:hover {
  color: white;
}

html, body{
  height: 100%;
  background-color: #262729;
}

@media (min-width: 992px){
html, body {
  height: 100%;
  background-color: #202124;
}
}
body { margin: 0; }


.cards-titulo {
  text-align: center;
  margin-bottom: 1rem;
  font-size: x-large;
  font-weight: 500;
}

.titulo-secao{
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.background-input-botao{
  background-color: #363943;
}

.background-cards{
  background-color: #262729;
}
